# Copyright (c) 2023 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_SIWG917_BRD4338A

config BOARD
	default "siwg917_brd4338a"

if BT

config MAIN_STACK_SIZE
	default 2304

choice BT_HCI_BUS_TYPE
	default BT_SIWG917
endchoice

config HEAP_MEM_POOL_SIZE
	default 1024

config COMMON_LIBC_MALLOC_ARENA_SIZE
	default 4096

config NUM_PREEMPT_PRIORITIES
	default 56

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config CMSIS_V2_THREAD_MAX_STACK_SIZE
	default 2048

config CMSIS_V2_THREAD_DYNAMIC_MAX_COUNT
	default 10

config CMSIS_V2_THREAD_DYNAMIC_STACK_SIZE
	default 2048

endif # BT

if WIFI

config NUM_PREEMPT_PRIORITIES
	default 56

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config CMSIS_V2_THREAD_MAX_STACK_SIZE
	default 2048

config CMSIS_V2_THREAD_DYNAMIC_MAX_COUNT
	default 10

config CMSIS_V2_THREAD_DYNAMIC_STACK_SIZE
	default 2048

config COMMON_LIBC_MALLOC_ARENA_SIZE
	default 4096

config NET_MGMT_EVENT_QUEUE_SIZE
	default 10

endif # WIFI

endif # BOARD_SIWG917_BRD4338A
