# Copyright (c) 2022 Linaro.
# Copyright (c) 2024 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_KV260_R8
	bool "Xilinx KV260 development board R8-core"
	depends on SOC_XILINX_ZYNQMP_RPU_R8
