# Copyright (c) 2024 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config I2C_SIWX917
	bool "SiLabs SiWx917 I2C driver"
	default y
	depends on DT_HAS_SILABS_SIWX917_I2C_ENABLED
	help
	  Enable the driver for the SiLabs SiWx917 SoC I2C.
