#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>
#include <zephyr/dt-bindings/mipi_dsi/mipi_dsi.h>

/ {
	chosen {
		zephyr,display = &ltdc;
	};
};

&ltdc {
	status = "okay";
	ext-sdram = <&sdram2>;
	width = <640>;
	height = <480>;
	def-back-color-red = <0>;
	def-back-color-green = <0>;
	def-back-color-blue = <0>;
	/* pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>; */
	pixel-format = <PANEL_PIXEL_FORMAT_RGB_888>;

	/* frida, nt35510 */
	display-timings {
		compatible = "zephyr,panel-timing";
		hsync-active = <0>;
		vsync-active = <0>;
		/* The STM32 DSI wrapper requires LTDC DE polarity opposite to DSI DE. */
		de-active = <0>;
		pixelclk-active = <0>;
		hsync-len = <96>;
		vsync-len = <2>;
		hback-porch = <48>;
		vback-porch = <33>;
		hfront-porch = <16>;
		vfront-porch = <10>;
	};
};

/* ltdc uses pll3_r as pixel clock */
&pll3 {
	status = "okay";
	clocks = <&clk_hse>;

	div-m = <5>;
	mul-n = <120>;
	div-r = <24>;
};

&mipi_dsi {
	status = "okay";


	/delete-property/ non-continuous;

	/* DSI HOST dedicated PLL
	 * F_VCO = CLK_IN / pll-idf * 2 * pll-ndiv
	 * PHI = F_VCO / 2 / (1 << pll-odf) = lane_byte_clk
	 *	   = 25 MHz / 5 * 2 * 100 / 2 / (1<<0) / 8 = 62.5 MHz
	 */
	pll-ndiv = <60>;
	pll-idf = <5>;
	pll-odf = <0>;

	/* phy-timings = <20 20 10 10 0 0>; */

	/* vs-active-high; */
	/* hs-active-high; */
	de-active-high;

	//loosely-packed;
	largest-packet-size = <64>;
	bta-ack-disable;
	/* test-pattern = <1>; */

	adv7535: adv7535@0 {
		reg = <0>;
		compatible = "adi,adv7535";
		i2c = <&i2c4>;
		i2c-addr = <0x39>;
		data-lanes = <2>;
		pixel-format = <MIPI_DSI_PIXFMT_RGB888>;
		pd-gpios = <&gpiog 3 GPIO_ACTIVE_HIGH>;
		int-gpios = <&gpiok 7 GPIO_ACTIVE_LOW>;
		status = "okay";

		hactive = <640>;
		hsync = <96>;
		hfp = <16>;
		hbp = <48>;
		vactive = <480>;
		vsync = <2>;
		vfp = <10>;
		vbp = <33>;
	};
};

&i2c4 {
	pinctrl-0 = <&i2c4_scl_pd12 &i2c4_sda_pd13>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
};
